.single_info-box{
    background: #132347;
    padding: 20px;
    border-radius: 5px;
    border-bottom: 1px solid #7865ff;
    margin-bottom: 35px;
}

.single_info-box p{
    font-weight: 300;
    margin-top: 10px;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.single_info-box h6{
    font-size: 1.1rem;
}






@media only screen and (max-width: 992px){
    .single_info-box h6{
        font-size: 0.8rem;
    }

    .single_info-box p{
        font-size: 0.7rem;
    }
}